{% extends "base/base.html" %}
{% block title %}درباره ما{% endblock title %}
{% block content %}

<main class="container page">
<h1>درباره ما</h1>
<p>Chef AI یک دستیار هوشمند آشپزی است که به شما کمک می‌کند با مواد اولیه موجود در خانه غذاهای جدید و خوشمزه پیدا کنید.</p>
<p>کافی است مواد غذایی خود را وارد کنید تا سیستم با کمک هوش مصنوعی غذاهای مناسب را پیشنهاد دهد و دستور پخت، زمان آماده‌سازی و درجه سختی را نمایش دهد.</p>
<p>هدف ما ساده‌تر، سریع‌تر و لذت‌بخش‌تر کردن تجربه آشپزی برای همه کاربران است.</p>
<p>چه آشپز حرفه‌ای باشید و چه مبتدی، Chef AI همراه شما خواهد بود.</p>
</main>

{% endblock content %}