{% extends "base/base.html" %}
{% block title %}ارتباط با ما{% endblock title %}
{% block content %}

<main class="container page">
    <style>
        .msg {
            background: #10b981;
            color: white;
            padding: 0.75rem 1rem;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            text-align: center;
            font-weight: 500;
        }
    </style>
    {% if messages %}
      <div class="msg">
        {% for message in messages %}
          {{message}}
        {% endfor %}
      </div>
    {% endif %}
    <h1>ارتباط با ما</h1>
    <form class="contact-form" method="post">
        {% csrf_token %}
        <input placeholder="نام" id="name" name="full_name" required>
        <input placeholder="ایمیل" type="email" id="email" name="email" required>
        <textarea rows="6" placeholder="پیام شما"  id="message" name="message" required></textarea>
        <button class="btn" type="submit">ارسال پیام</button>
    </form>
</main>

{% endblock content %}